{% extends "base.html" %}
<!--{% load static %}-->
<!--{% csrf_token %}-->

{% block content %}

<title>Игра</title>
<div></div>
<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .iksweb {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .iksweb, .iksweb td, .iksweb th {
        border: 1px solid #595959;
    }

    .iksweb td {
        padding: 0;
        cursor: pointer;
        transition: background 0.3s;
    }

    .iksweb div {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hit {
        background: #4e88df;
    }

    .miss {
        background: #0d1117;
    }

    .iksweb th {
        background: #347c99;
        color: #fff;
        font-weight: normal;
    }

    h1 {
        text-align: center;
        color: #333;
    }
</style>
<div id="app">
    <table class="iksweb">
        <tbody>
            <tr v-for="(m,x) in matrix">
                <td v-for="(j,y) in m">
                    <template v-if="j === 1">
                        <div style="width: 100px; height: 100px; background: #4e88df" @click="send_request(x,y)"></div>
                    </template>
                    <template v-else>
                        <div style="width: 100px; height: 100px; background: #0d1117" @click="send_request(x,y)"></div>
                    </template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: {
            matrix: {{matrix}},
        },
        methods: {
            async start() {

            },
            async send_request(x,y) {
                try {
                    const response = await fetch(`/get-matrix/{{session_id}}/`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    this.matrix = data.matrix
                    this.matrix[x][y] = +!this.matrix[x][y]

                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
                this.set_martix()
            },
            async set_martix(){
                try {
                const response = await fetch(`/set-matrix/{{session_id}}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': this.getCookie('csrftoken')
                    },
                    body: JSON.stringify({
                        matrix: this.matrix
                    })
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                this.matrix = data.matrix
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
            },
            // Функция для получения CSRF-токена
        getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Проверка на совпадение имени
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        },
        },
        mounted() {
            this.start()
        }
    })
</script>
{% endblock content %}